@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.woff2);
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url(../fonts/Raleway-Medium.woff2);
}